*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --rajdhani:"Rajdhani", sans-serif;
  --nunito:"Nunito Sans", sans-serif;
  --white:#fff;
  --black:#000;
}
.nav-top{
  background-color: #191414;
}
.nav-top-inner{
  padding: 16px;
}
.nav-list,.nav-list-anchor,.dropdown-item{
  display: block;
  font-size: 16px;
  color: var(--white);
  font-weight: 700;
  font-family: var(--rajdhani);
  margin: 0 11px;
  transition: all 0.2s ease-in-out;
  text-transform: uppercase;
}
.nav-list-anchor:hover{
  color: #FD8A20;
}
.dropdown-item,.nav-list-anchor{
  margin: 0 !important;
}
.dropdown-item:hover{
  color: #FD8A20;
  background-color: #191414;
}
.dropdown-menu{
  background-color: #191414;
}
.nav-bottom{
  background-color: #2F2E2E;
  padding: 8px 16px;
}

.hamburger{
  font-size: 30px;
  font-weight: bolder;
  color: #bebebe;
  cursor: pointer;
  /* padding: 7px 12px; */
}
.nav-anchors{
  padding: 13px 16px;
  font-size: 16px;
  color: #bebebe;
  font-family: var(--rajdhani);
  font-weight: 700;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}
.nav-anchors:hover{
  color: #FD8A20;
}
.contactUs a{
  padding: 12px 26px;
  background-color: #FD8A20;
  color: var(--white);
  font-size: 16px;
  font-weight: 700;
  font-family: var(--rajdhani);
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
}
.hero-section{
  background: linear-gradient(to right, rgba(0,0,0,0.7),rgba(0,0,0,0.3)),url(../Images/background/home-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}
.heading-div{
  padding: 100px 18px 0 18px;
  /* margin-top: 100px; */
}
.heading-div-h4{
  font-size: 20px;
  font-weight: 700;
  font-family: var(--rajdhani);
  color: #ECDBBA;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.heading-div-h1{
  font-size: 48px;
  font-weight: 700;
  font-family: var(--rajdhani);
  color: var(--white);
  line-height: 48px;
  margin-bottom: 30px;
}
.view-anchor,.view-anchor1{
  text-decoration: none;
  padding: 10px 20px;
  background-color: #FD8A20;
  font-size: 16px;
  font-weight: 700;
  font-family: var(--rajdhani);
  color: var(--white);
  display: inline-block;
  text-transform: uppercase;
}
.bikes-div{
  padding: 50px 18px 0 18px;
}
.bikes-div-inner{
  background-color: #2F2E2E;
}
.img{
  height: 200px;
}
.bike-image{
  background-image: url(../Images/background/bike-black.png);
  background-size: 100% 100%;
}
.bike-image1{
  background-image: url(../Images/background/bike-orange.png);
  background-size: 100% 100%;
}
.bike-image2{
  background-image: url(../Images/background/bike-red.png);
  background-size: 100% 100%;
}
.bike-image3{
  background-image: url(../Images/background/PXXAPKC.png);
  background-size: 100% 100%;
}
.bike-info{
  background-color: #222222C9;
  padding: 15px;
}
.bike-type{
  font-size: 16px;
  font-family: var(--rajdhani);
  color: var(--white);
  font-weight: 700;
  text-transform: uppercase;
}
.view-anchor1{
  padding: 5px 7px;
  font-size: 12px;
}
.bikes-div-h5{
  font-size: 14px;
  font-family: var(--rajdhani);
  color: var(--white);
  font-weight: 700;
  margin-bottom: 30px;
}
.more-about-bikes{
  background-color: #222222;
  padding-bottom: 50px;
}
.caption{
  padding: 32px 16px;
}
.caption-h6,.heading{
  font-size: 16px;
  font-weight: 700;
  color: #FD8A20;
  font-family: var(--rajdhani);
  text-transform: uppercase;
  margin-bottom: 30px;
}
.caption-h2,.heading1{
  font-size: 42px;
  font-weight: 700;
  color: var(--white);
  font-family: var(--rajdhani);
  line-height: 42px;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.caption-para,.para{
  font-size: 15px;
  font-weight: 400;
  color: #bebebe;
  font-family: var(--nunito);
  line-height: 24px;
  margin-bottom: 30px;
}
.caption-anchor,.anchor{
  padding: 14px 28px;
  background-color: #FD8A20;
  font-size: 16px;
  font-weight: 700;
  color: var(--white);
  font-family: var(--rajdhani);
  line-height: 24px;
  margin-bottom: 15px;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
}
.image1{
  height: 300px;
  object-fit: cover;
}
.motorcycle-list{
  background-color: #191414;
}
.shape-img{
  height: 35px;
  width: 210px;
  margin-bottom: 30px;
}
.title-anchor{
  font-size: 16px;
  font-weight: 700;
  color: #bebebe;
  font-family: var(--rajdhani);
  padding: 5px 0;
  text-decoration: none;
  text-transform: uppercase;
}
.motorcycle-img{
  background-color: #2F2E2E;
  padding: 16px;
}
.bike-variety{
  font-size: 14px;
  font-weight: 700;
  font-family: var(--rajdhani);
  color: var(--white);
  text-transform: uppercase;
  margin-bottom: 8px;
}
.bike-price{
  font-size: 15px;
  font-weight: 400;
  font-family: var(--nunito);
  color: #FD8A20;
  text-transform: capitalize;
  /* margin-bottom: 14px; */
}
.test-drive{
  /* background: url(../Images/background/NPCBG47\ \(1\).jpg); */
  background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.3)),url(../Images/background/NPCBG47\ \(1\).jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.test-drive-inner{
  padding: 0 16px 50px 16px;
}
.about-testimonial{
  background-color: #222222;
}
.about-caption,.testimonial-caption{
  padding: 32px 16px 0 16px;
}
.testimonial-img{
  margin-top: 30px;
}
.customer-info-inner{
  background-color: #EFEEEE;
  padding: 32px;
}
.star{
  font-size: 20px;
  color: #FD8A20;
  margin: 0 3px;
}
.testimonial-para{
  font-size: 20px;
  color: #191414;
  font-weight: 400;
  font-family: var(--nunito);
  line-height: 32px;
  margin-bottom: 18px;
}
.customer-name{
  font-size: 14px;
  color: #191414;
  font-weight: 700;
  font-family: var(--rajdhani);
  text-transform: uppercase;
}
.customer-occupation{
  font-size: 12px;
  color: #bebebe;
  font-weight: 700;
  font-family: var(--rajdhani);
  text-transform: uppercase;
}
.blog{
  background-color: #222222;
}
.blog-inner{
  padding: 50px 16px 0 16px;
}
.blog-name{
  font-size: 14px;
  font-family: var(--rajdhani);
  font-weight: 700;
  color: var(--white);
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  line-height: 14px;
  margin-bottom: 8px;
}
.blog-date{
  font-size: 15px;
  font-family: var(--nunito);
  font-weight: 400;
  color: #bebebe;
  text-transform: capitalize;
  margin-bottom: 13px;
}
.bikes-brands{
  padding: 32px 16px;
  background-color: #2F2E2E;
}
.footer{
  background-color: #191414;
}
.footer-top{
  padding: 30px 16px;
}
.para1{
  font-size: 15px;
  font-weight: 400;
  color: #bebebe;
  font-family: var(--nunito);
  line-height: 24px;
  padding-bottom: 30px;
}
.footer-list{
  font-size: 15px;
  font-weight: 400;
  color: var(--white);
  font-family: var(--nunito);
}
.footer-list i{
  color: #FD8A20;
}
.footer-list1 a{
  font-size: 25px;
  font-weight: 400;
  color: #bebebe;
  font-family: var(--nunito);
  text-decoration: none;
  margin: 0 7px;
}
.newsletter{
  border-bottom: 1px solid #8888883B;
}
.newsletter-h2{
  font-size: 42px;
  font-weight: 700;
  color: var(--white);
  font-family: var(--rajdhani);
  text-transform: uppercase;
}
.footer-input{
  width: 100%;
  padding: 10px 16px;
  font-size: 15px;
  font-weight: 400;
  color: rgb(102, 102, 102);
  font-family: var(--nunito);
  border: 1px solid #666666;
  background-color: var(--white);
  margin-bottom: 16px;
}
.footer-input:focus{
  outline: none;
}
.heading2{
  font-size: 16px;
  color: var(--white);
  font-weight: 700;
  font-family: var(--rajdhani);
  text-transform: uppercase;
}
.links-list a{
  display: block;
  padding: 8px 0;
  text-decoration: none;
  font-size: 15px;
  color: #bebebe;
  font-weight: 400;
  font-family: var(--nunito);
  text-transform: capitalize;
  transition: all 0.2s ease-in-out;
}
.links-list a:hover{
  color: #FD8A20;
}
.footer-bottom{
  background-color: #222222;
}
.footer-bottom-inner{
  padding: 16px;
}
.copywrite-para{
  font-size: 16px;
  color: var(--white);
  font-weight: 700;
  font-family: var(--rajdhani);
  text-transform: uppercase;
  line-height: 16px;
}
.copywrite-list a{
  display: block;
  padding: 0 6px;
  text-decoration: none;
  font-size: 16px;
  color: #bebebe;
  font-weight: 700;
  font-family: var(--rajdhani);
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}
.copywrite-list a:hover{
  color: #FD8A20;
}



@media(min-width:400px){
  .img{
    height: 280px;
  }
}
@media(min-width:768px){
  .nav-top-inner{
    padding: 16px 32px;
  }
  .nav-bottom{
    padding: 8px 32px;
  }
  .img{
    height: 250px;
  }
  .heading-div{
    padding: 150px 32px 0 32px;
  }
  .heading-div-h1{
    font-size: 64px;
    width: 55%;
    line-height: 64px;
  }
  .bikes-div{
    padding: 50px 32px 0 32px;
  }
  .image1{
    height: 450px;
  }
  .title-anchor{
    padding: 14px 28px;
  }
  .title-para{
    width: 65%;
    margin: 0 auto 30px auto;
  }
  .test-drive-inner{
    padding: 0 32px 50px 32px;
  }
  .about-inner{
    margin-bottom: 60px;
  }
  .footer-top{
    padding: 50px 32px;
  }
}
@media(min-width:992px){
  .caption{
    padding: 32px;
  }
  .title-para{
    width: 50%;
  }
  .blog-inner{
    padding: 80px 32px;
  }
}
@media(min-width:1200px){
  .nav-top-inner{
    max-width: 1170px;
    margin: 0 auto;
    padding: 16px 0;
  }
  .nav-bottom{
    padding: 8px 0;
  }
  .nav-bottom-inner{
    max-width: 1170px;
    margin: 0 auto;
  }
  .img{
    height: 180px;
  }
  .heading-div-h4{
    font-size: 32px;
  }
  .heading-div-h1{
    font-size: 96px;
    line-height: 96px;
  }
  .bikes-div-h5,.blog-name{
    font-size: 24px;
    line-height: 24px;
  }
  .heading-div{
    padding: 150px 0 0 0;
  }
  .bikes-div{
    padding: 50px 0 0 0;
  }
  .hero-section-content,.motorcycle-list-inner,.about-inner,.testimonial-inner,.blog-inner,.footer-inner,.footer-bottom-inner{
    max-width: 1170px;
    margin: 0 auto;
  }
  .caption-h6,.heading{
    font-size: 20px;
  }
  .caption-h2,.heading1{
    font-size: 64px;
    line-height: 64px;
  }
  .title-para{
    width: 40%;
  }
  .test-drive-inner{
    max-width: 1170px;
    padding: 50px 0 100px 0;
    margin: 0 auto;
  }
  .testimonial-caption{
    padding: 23px;
  }
  .customer-info-inner{
    padding: 64px;
  }
  .about-inner{
    margin-bottom: 100px;
  }
  .copywrite-list a{
    padding: 0 16px;
  }
}
@media(min-width:1400px){

}